.table-index {
    & tbody tr {
        counter-increment: rowNumber;
    }

    & tbody td.index-column:not(.no-index) {
        text-align: center;

        &::before {
            content: counter(rowNumber);
            font-size: 12px
        }
    }
}

.table-thead-sticky {
    thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }
}

.table-fit {
    width: fit-content;
}

.table-no-empty-lines {
    tbody tr:not([aria-rowindex]) {
        display: none;
    }
}

/* This is to allow custom td backgroud colour */
.table-bg-transparent tbody td {
    background-color: transparent;
}

.true-sign::after {
    content: "\2714";
    color: green;
    font-weight: bold;
}

.false-sign::after {
    content: "\2716";
    color: red;
    font-weight: bold;
}

.action {
    cursor: pointer;
}
